[Service]
WorkingDirectory={work_dir}
ExecStart={pserve_file} {ini_file}
Restart=always
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=openprocurement.api
User={proj_user}
Group={proj_user}

[Install]
WantedBy=multi-user.target